<div class="center hero-unit">
  <h1>Demo App</h1>
 
  <h2>
    Welcome to the home page of my Demo app! 
  </h2>
 
  <p>
    <%= link_to "Sign Up Here!", "users/new", class: "btn btn-large btn-primary" %>
</div>